.form-register {
  width: 40%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-register input {
  width: 45%;
  height: 50px;
  padding: 10px 15px;
  border: 1px solid #b2b2b2;
  color: #3f3e3e;
  border-radius: 2px;
  outline: none;
  margin: 5px;
  transition: all .2s ease-in-out;
}

.form-register input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.form-register input:focus {
  border: 1px solid #0db14b;
}

.form-register button {
  width: 45%;
  height: 50px;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #0db14b;
  border-radius: 2px;
  color: #323232;
  outline: none;
  margin: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.form-register button:hover {
  background: #0db14b;
  color: #fff;
  transition: all .3s ease-in-out;
}
