.list-menu {
  display: flex;
}

.list-menu li {
  margin: 5px;
  list-style: none;
}

.list-menu li a:hover {
  background: #0db14b;
}

.list-menu li a {
  color:#fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 7px;
  cursor: pointer;
}

.active {
  background: #0db14b;
}
